body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(12, 1, 43);
}

.heading {
    text-align: center;
    margin-top: 3em;
}


.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f0f0;
    color: rgb(12, 1, 43);
    position: fixed;
    z-index: 1000;
}

#navbar-logo {
    font-size: 20px;  
    padding: 20px;
}

#navbar-menu {
    display: flex;
    list-style: none;
    font-size: 20px;
    padding-left: 0;

}

#navbar-menu li{
    padding: 8px 17px;
    
}

#navbar-menu li:hover{
    text-decoration: underline;
    font-weight: bold;
    border-radius: 8px;
    
}

#navbar-icons {
    list-style: none;
    display: flex;
    font-size: 20px;  
    color: rgb(12, 1, 43); 
    padding-left: 0%;
    padding: 20px;
}

#navbar-icons li {
    padding: 8px 12px;
}

#navbar-toggleBtn {
    display: none;
    position: absolute;
    right: 24px;
    top: 17px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        /* margin: auto;
        padding: 20px; */
    }

    #navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* padding-left: 0;
        margin-right: 20px; */
    }

    #navbar-menu li{
        width: 100%;
        text-align: center;
    }

    #navbar-icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    #navbar-toggleBtn {
        display: block;
        /* padding-right: 40px; */
    }

    #navbar-menu.active, 
    #navbar-icons.active {
        display: flex;
        padding: 0;
    }



    .project-container {
        display: flex;
        flex-direction: column;
        margin: 20px;
        max-width: 100%;
        flex-wrap: wrap;
    }
    
    .project-container img {
        width: 100%;
        height: 100%;
    }
    
    .project-container a {
        background-color: black;
        color: rgb(235, 225, 225);
        padding: 10px 20px;
    }
    
    .project-card {
        background-color: #ddd1b6;
        padding: 20px;
        text-align: center;
        padding-bottom: 120px;
    }
}

@media screen and (max-width: 391px) {
    #about_content {
        min-width: 80%;
    }
}

.home {
    /* background-image: url("/img/3.jpg"); */
    background-image: linear-gradient(to bottom right,#99C0DF,#fff);
    background-color: #99C0DF;
    z-index: -1;
    background-position: center;
    min-height: 50rem;
    color: rgb(6, 23, 124);
    margin: 0;
}
.home_content {
    position: absolute;
    top: 25rem;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90rem;
    width: 92%;
}

.home_primary{
    margin: 0;
    font-size: 5rem;
    letter-spacing: 3px;
    text-align: center;
    vertical-align: middle;

}

.home_info {
    margin: 3rem auto 0 auto;
    max-width: 85%;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(79, 88, 134);
}

.blank {
    padding: 50px;
}

#about_container {
    display: flex;

}

#about_content {
    max-width: 40%;
    padding: 2em;
    line-height: 1.6;
    margin: auto;
    font-size: 1.1em;
}

#skills_title {
    column-count: 2;
    padding: 2em;
}



#skills_title li{
    list-style: none;
    font-size: 0.9em;
    text-align: left;
    padding-left: 0;
}

.project-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    max-width: 100%;
    
}

.project-container img {
    width: 100%;
    height: 100%;
}

.learnBtn {
    background-color: black;
    color: rgb(235, 225, 225);
    padding: 10px 20px;
}

.project-card {
    background-color: #ddd1b6;
    padding: 20px;
    text-align: center;
    padding-bottom: 120px;
}

.contacts {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 10%;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}
